asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorzero==1.1
Django==3.0.8
google==3.0.0
gpiozero==1.5.1
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.6.2
markdown2==2.3.9
mccabe==0.6.1
multitasking==0.0.9
numpy==1.19.4
pandas==1.1.5
pylint==2.5.3
pylint-django==2.2.0
pylint-plugin-utils==0.6
python-dateutil==2.8.1
python-osc==1.7.4
pytz==2020.1
requests==2.25.1
RPi.GPIO==0.7.0
selenium==3.141.0
simplejson==3.17.2
six==1.15.0
soupsieve==2.1
sqlparse==0.3.1
toml==0.10.1
urllib3==1.25.10
wrapt==1.12.1
yahoo-finance==1.4.0
yfinance==0.1.55
